## 출력하기01

In [1]:
print('hello')

hello

## 출력하기02

In [2]:
print('Hello World')

Hello World

## 출력하기03

In [4]:
print('Hello')
print('World')


print('Hello\nWorld')

Hello
World
Hello
World

## 출력하기04

In [5]:
print('\'Hello\'')

'Hello'

## 출력하기05

In [6]:
print('\"Hello World\"')

"Hello World"

## 출력하기06

In [7]:
print('\"!@#$%^&*()\'')

"!@#$%^&*()'

## 출력하기07

In [9]:
print('\"C:\\Download\\\'hello\'.py\"')

"C:\Download\'hello'.py"

## 출력하기08

In [10]:
print('print(\"Hello\\nWorld\")')

print("Hello\nWorld")

## 문자 1개 입력받아 그대로 출력하기

In [13]:
a = input()
print(a)

k
k

## 정수 1개 입력받아 그대로 출력하기

In [14]:
int_ = int(input())
print(int_)

8
8

## 실수 1개 입력받아 그대로 출력하기

In [16]:
real = float(input())
print(real)

45.2
45.2

## 정수 2개 입력받아 그대로 출력하기2

In [17]:
c = input()
a,b = c.split()
print(a)
print(b)

12 54
12
54

## 문자 2개 입력받아 순서 바꿔 출력하기2

In [18]:
c = input()
a,b = c.split()
print('%s %s' %(b,a))

banana apple
apple banana

## 문장 1개 입력받아 3번 출력하기

In [20]:
c = input()
print(c*3)

hi
hihihi

## 시간 입력받아 그대로 출력하기

In [21]:
c = input()
print(c)

12:30

## 연월일 입력받아 순서 바꿔 출력하기

In [25]:
year,month,day = input().split('.')
print(day, month, year, sep = '-')

21.03.01
01-03-21

## 주민번호 입력받아 형태 바꿔 출력하기

In [27]:
a,b = input().split('-')
print(a+b)

123456-1234567
1234561234567

## 단어 1개 입력받아 나누어 출력하기

In [30]:
c = input()
for i in range(len(c)):
    print(c[i])

hello
h
e
l
l
o

## 연월일 입력받아 나누어 출력하기

In [31]:
c = input()
print('%s %s %s' %(c[0:2], c[2:4], c[4:6]))

210301
21 03 01

## 시분초 입력받아 분만 출력하기

In [34]:
c = input()
print(c[-5:-3])

17:23:57
23

## 단어 2개 입력받아 이어 붙이기

In [36]:
a,b = input().split()
print(a+b)

hello world
helloworld

## 정수 2개 입력받아 합 계산하기

In [39]:
a,b = map(int, input().split())
c = a+b
print(c)

12 45
57

## 실수 2개 입력받아 합 계산하기

In [40]:
c = int(input())
d = int(input())
print(c+d)

12
89
101

## 실수 2개 입력받아 합 계산하기

In [42]:
c = float(input())
d = float(input())
print(c+d)

12.3
11.1
23.4

## 10진 정수 입력받아 16진수로 출력하기1

In [46]:
c = int(input())
print('%x' %c)

1234
4d2

## 10진 정수 입력받아 16진수로 출력하기2

In [50]:
c = int(input())
print('%X' %c)

456
1C8

## 16진 정수 입력받아 8진수로 출력하기

In [51]:
c = int(input(), 16)
print('%o' %c)

ff
377

## 영문자 1개 입력받아 10진수로 변환하기

In [52]:
c = ord(input())
print(c)

h
104

## 정수 입력받아 유니코드 문자로 변환하기

In [53]:
c = int(input())
print(chr(c))

78
N

## 정수 1개 입력받아 부호 바꾸기

In [55]:
c = int(input())
print(-c)

-89
89

## 문자 1개 입력받아 다음 문자 출력하기

In [87]:
c = ord(input())
print(c)
print(chr(c+1))

0
48
1

## 정수 2개 입력받아 차 계산하기

In [91]:
a,b = map(int, input().split())
print(a-b)

123 -123
246

## 실수 2개 입력받아 곱 계산하기

In [92]:
a,b = map(int, input().split())
print(a*b)

12 8
96

## 단어 여러 번 출력하기

In [94]:
a,b = input().split()
b = int(b)
print(a*b)

love 3
lovelovelove

## 문장 여러 번 출력하기

In [96]:
a = int(input())
b = input()
print(b*a)

3
I love banana
I love bananaI love bananaI love banana

## 정수 2개 입력받아 거듭제곱 계산하기

In [97]:
a,b = map(int, input().split())
print(a**b)

2 3
8

## 실수 2개 입력받아 거듭제곱 계산하기

In [98]:
a,b = map(float, input().split())
print(a**b)

4.0 0.5
2.0

## 정수 2개 입력받아 나눈 몫 계산하기

In [99]:
a,b = map(int, input().split())
print(a//b)

10 3
3

In [ ]:
41번